<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../fonts/css/fontawesome.min.css">
        <link rel="stylesheet" href="../fonts/css/solid.css">
        <title>Portafolio</title>
    </head>
        <!--HEADER-->
        <div class="container-fluid cabecera">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="titulo_cv">MI PORTAFOLIO</h1>
                </div>
                <div class="col-md-4">
                    <nav class="navbar navbar-expand-lg navbar bg-cv">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#miNavBar" aria-controls="miNavBar" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="miNavBar">
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                    <li class="nav-item active">
                                        <a class="nav-link nav_home" href="index.html">CV</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav_features" href="https://mirror-bugle-e7f.notion.site/Jorge-Espinoza-Ramirez-ae0f5dbd76b649f5b5fe3b97b98ced32?pvs=4">CV Notion</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav_pricing" href="https://www.linkedin.com/in/jorge-espinoza-ramirez-3bb157119">Linkedin</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!--/HEADER-->
        
        <body>
            <!--CONTACT-->
            <div class="container-fluid contacto">
                <div class="row justify-content-around">
                    <div class="col-md-4">
                        <h5><i class="fa-solid fa-envelope"></i> jorge.esp.ram@gmail.com</h5>
                    </div>
                    <div class="col-md-4">
                        <h5><i class="fa-solid fa-mobile"></i> +569 97592859</h5>
                    </div>
                    <div class="col-md-4">
                        <h5><i class="fa-solid fa-location-pin"></i> Santiago (Melipilla), Chile</h5>
                    </div>
                </div>
            </div>

            <!--/CONTACT-->

            <!--CONTENT-->
            <div class="container-fluid">
                
                <!--PORTAFOLIO 1-->
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <h5>Desafio 1 - "Mi Curriculum Vitae en HTML"</h5>
                        He realizado el desafío de crear un currículum en HTML que incluye la estructura base de un documento HTML, como doctype, html, head y body, asegurándome de que todo el contenido está correctamente situado dentro del body. Aseguré el uso apropiado de etiquetas para títulos, subtítulos y párrafos, y he integrado al menos una lista ordenada (&lt;ol&gt;) y una desordenada (&lt;ul&gt;) de manera coherente. Incluí al menos una imagen local con su correspondiente texto alternativo y establecí enlaces funcionales, uno de los cuales lleva a una página de portafolio. En esta página de portafolio, incorporé una tabla con los nombres de los proyectos en una columna y capturas de pantalla en otra. He validado la estructura del documento para asegurarme de que es HTML válido, con todas las etiquetas abriendo y cerrando correctamente.
                    </div>
                    <div class="col-md-7">
                        <img class="img-fluid" src="images/d1.png">
                    </div>
                </div><!--end row-->
                <!--/PORTAFOLIO 1-->
                <hr>                
                <!--PORTAFOLIO 2-->
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <h5>Desafio 2 - "Construyendo un landing page"</h5>
                        He completado el desafío creando una página HTML con las siguientes características: Inicia con una sección principal que incluye una imagen de fondo y un texto superpuesto. Luego, he añadido una sección de productos que muestra tres productos diferentes, cada uno con su imagen correspondiente y textos descriptivos. Además, al final de la página, se ha incorporado un pie de página (footer) con texto adecuado. Por último, he integrado el diseño de la página mediante un archivo CSS externo, que está alojado en una subcarpeta denominada “css”, ubicada dentro de la carpeta “assets”. Todo el estilo y diseño se ha vinculado correctamente, asegurando la coherencia visual y funcionalidad en la página web.
                    </div>
                    <div class="col-md-7">
                        <img class="img-fluid" src="images/d2.png">
                    </div>
                </div><!--end row-->
                <!--/PORTAFOLIO 2-->
                <hr>                
                <!--PORTAFOLIO 3-->
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <h5>Desafio 3 - "Iguana page"</h5>
                        He realizado el proyecto cumpliendo todos los requisitos proporcionados. Organizé un árbol de archivos coherente y ordenado para asegurar una estructura de proyecto clara. Diseñé la página para que los elementos se ubiquen horizontalmente usando Flex, respetando los requerimientos de la maqueta. Implementé la sección de características usando también Flex y añadí los íconos de Font Awesome especificados: "far fa-eye", "fab fa-hand-peace", y "fas fa-paint-brush". Asimismo, desarrollé una galería de imágenes también con Flex, asegurando un diseño cohesivo y atractivo. Finalmente, para definir las distintas secciones de la página, empleé etiquetas semánticas, contribuyendo así a la claridad y la accesibilidad del código HTML.
                    </div>
                    <div class="col-md-7">
                        <img class="img-fluid" src="images/d3.png">
                    </div>
                </div><!--end row-->
                <!--/PORTAFOLIO 3-->
                <hr>                
                <!--PORTAFOLIO 4-->
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <h5>Desafio 4 - "Cuppon"</h5>
                        He completado el proyecto, abarcando cada uno de los requerimientos. He utilizado la grilla de Bootstrap para crear una grilla responsiva, distribuyendo los cupones en una columna para móviles y tres para escritorio. Para alinear los colores con los de la maqueta, he aplicado las clases de colores de Bootstrap. También he utilizado clases de Bootstrap para asignar los márgenes y el padding, alineándolos con el diseño propuesto en la maqueta. Los cupones están diseñados utilizando el componente Card de Bootstrap, adherido a las especificaciones dadas. He asegurado que el código esté debidamente indentado y he seguido la estructura de carpetas solicitada, colocando las imágenes en /assets/img, el archivo CSS en /assets/css/style.css, y el archivo principal HTML en /index.html.
                    </div>
                    <div class="col-md-7">
                        <img class="img-fluid" src="images/d4.png">
                    </div>
                </div><!--end row-->
                <!--/PORTAFOLIO 4-->
                <hr>                
                <!--PORTAFOLIO 5-->
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <h5>Desafio 5 - "Github"</h5>
                        He completado el Desafío 5, empleando GitHub para gestionar y registrar los cambios realizados en las distintas secciones de la página web proporcionada. Realicé al menos cinco commits, cada uno con cambios significativos en secciones específicas de la página, asegurando que cada modificación quedara documentada de manera clara y concisa en el historial de commits, facilitando así el seguimiento de las modificaciones y el trabajo colaborativo en la plataforma GitHub.
                    </div>
                    <div class="col-md-7">
                        <img class="img-fluid" src="/images/d5.png">
                    </div>
                </div><!--end row-->
                <!--/PORTAFOLIO 5-->
                <hr>
                

            </div>
            <!--/CONTENT-->
        </body>
<br>
        <!--FOOTER-->
        <footer>
            <div class="container-fluid pie">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <p class="derechos">© 2023 Jorge Espinoza. Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--/FOOTER-->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
